[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
cachetools = "*"
sortedcontainers = "*"
h5py = "*"
binary-search = "*"
pybloom-live = "*"

[dev-packages]
pylint = "*"
pytest = "*"
autopep8 = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
